{
  "root": true,
  "extends": "@1stg",
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.vue"
      ],
      "rules": {
        "vue/require-default-prop": 0
      }
    },
    {
      "files": [
        "*.ts"
      ],
      "rules": {
        "@typescript-eslint/consistent-type-imports": 2,
        "import/order": [
          2,
          {
            "alphabetize": {
              "order": "asc"
            },
            "newlines-between": "always"
          }
        ]
      }
    }
  ]
}
